<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <style type="text/css">
        .not-found {
            margin-top: 150px;
            font-size: 24px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="not-found">
        <h3>404 Pag Not Found</h3>
        <img src="images/404.jpg">
    </div>
</body>
</html>
