<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <h1><%= title %></h1>        
    </header>
    <nav>
        <ul>
            <li><a title="主页" href="/">home</a></li>
            <li><a title="登录" href="/login">login</a></li>
            <li><a title="注册" href="/reg">register</a></li>
        </ul>
    </nav>
    <article>
