<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <h1><%= title %></h1>  
        <form action="/search" method="GET">
            <input class="fr" type="submit" value="搜索">
            <input class="fr" type="text" name="keyword" placeholder="请输入关键字">
        </form>
    </header>
    <nav class="fl aside">
        <ul>
            <li><a title="主页" href="/">home</a></li>
            <% if(user) { %>
                <li><a title="上传" href="/upload">upload</a></li>
                <li><a title="发表" href="/post">post</a></li>
                <li><a title="登出" href="/logout">logout</a></li>
            <% }else { %>
                <li><a title="登录" href="/login">login</a></li>
                <li><a title="注册" href="/reg">register</a></li>
            <% } %>
        </ul>
    </nav>
    <article class="fl">
        <% if(success) { %>
            <div><%= success %></div> 
        <% } %>
        <% if(error) { %>
            <div><%= error %></div> 
        <% } %>

