<%- include header %>
    <form method="post">
        <p>
            <label for="username">用户名：</label>
            <input type="text" name="username" id="username">              
        </p>
        <p>
            <label for="password">密　码：</label>
            <input type="password" name="password" id="password">            
        </p>
        <p>
            <input type="submit" value="登录">
        </p>
    </form>
<%- include footer %>
