<%- include header %>
    <form method="post">
        <div>
            <label for="username">用户名：</label>
            <input type="text" name="username" id="username">              
        </div>
        <div>
            <label for="password">密码：</label>
            <input type="password" name="password" id="password">            
        </div>        
        <div>
            <label for="repwd">确认密码：</label>
            <input type="password" name="repwd" id="repwd">            
        </div>
        <div>
            <input type="submit" value="注册">
        </div>
    </form>
<%- include footer %>